@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class^="_icon-"]::after,
[class*=" _icon-"]:before,
[class*=" _icon-"]::after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class^="_icon-"]::after,
[class*=" _icon-"]:before,
[class*=" _icon-"]::after {
  display: block;
}

._icon-insta:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-pinterest:before {
  content: "\e903";
}

._icon-youtube:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #ffffff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._scroll .find {
  margin: 60px 0px 0px 0px;
}

.wrapper._scroll .header__body {
  min-height: 60px;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 10px;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  min-height: 45px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn_outline {
  background-color: transparent;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.header__container {
  max-width: 1440px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px;
  min-height: 116px;
  min-height: 116px;
  -webkit-transition: min-height 0.8s ease 0s;
  -o-transition: min-height 0.8s ease 0s;
  transition: min-height 0.8s ease 0s;
}

.header__logo {
  position: relative;
  z-index: 10;
  margin: 0px 70px 0px 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}

.header__logo img {
  max-width: 100%;
}

.header__button {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  z-index: 10;
  margin-right: 40px;
  min-width: 150px;
  color: #f7941e;
  border: 1px solid #f7941e;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin: 0px 15px;
}

.menu__link {
  font-size: 18px;
  line-height: 122.22222%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 35px;
  background-color: #fafafa;
}

.footer__container {
  max-width: 1030px;
}

.footer__top {
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #000;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list li {
  margin-right: 40px;
  margin-left: 40px;
}

.footer__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__logo {
  margin-right: 100px;
  margin-left: 100px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__bottom {
  padding-top: 55px;
}

.footer__socials {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  font-size: 40px;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 30px;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__year {
  margin: 0px 14px 0px 0px;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__privacy {
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.find {
  margin-top: 116px;
  background-color: #f1f1f2;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.find__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.find__content_second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.find__body {
  padding-top: 160px;
  padding-bottom: 135px;
  margin-right: 115px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 455px;
          flex: 0 1 455px;
}

.find__body_second {
  padding-top: 160px;
  padding-bottom: 100px;
  margin-left: 115px;
  margin-right: 0 !important;
  padding-left: 0;
  padding-right: 15px;
}

.find__body_second .find__text {
  text-align: justify;
}

.find__body_second .find__text:not(:last-child) {
  margin-bottom: 36px;
}

.find__title {
  font-size: 56px;
  line-height: 123.21429%;
  font-weight: 500;
  color: #000000;
}

.find__title:not(:last-child) {
  margin-bottom: 36px;
}

.find__text {
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.find__text:not(:last-child) {
  margin-bottom: 52px;
}

.find__button {
  min-height: 60px;
  min-width: 200px;
  color: #fff;
  background-color: #f7941e;
  border: 1px solid #f7941e;
}

.find__button_outline {
  background-color: transparent;
  color: #f7941e;
}

.find__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.find__image-cover {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.find__subtitle {
  font-size: 32px;
  line-height: 140%;
  color: #000000;
}

.find__subtitle:not(:last-child) {
  margin-bottom: 23px;
}

.gifts {
  padding-top: 90px;
  padding-bottom: 90px;
}

.gifts__top {
  text-align: center;
  margin-bottom: 60px;
}

.gifts__title {
  font-size: 32px;
  line-height: 140%;
  color: #000000;
}

.gifts__title:not(:last-child) {
  margin-bottom: 25px;
}

.gifts__text {
  font-size: 18px;
  line-height: 136%;
  color: #000000;
}

.gifts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.gifts__item {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-bottom: 50px;
}

.item-gifts__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.item-gifts__image {
  display: block;
  overflow: hidden;
  padding: 0px 0px 100% 0px;
}

.item-gifts__image img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-gifts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 166px;
  background-color: #fafafa;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 24px;
}

.item-gifts__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 10px 0px;
}

.item-gifts__more {
  display: block;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 135.71429%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sign {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #f7941e;
}

.sign__container {
  max-width: 1000px;
}

.sign__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325px;
          flex: 0 1 325px;
  margin: 0px 20px 0px 0px;
}

.sign__title {
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
}

.sign__text {
  font-size: 32px;
  line-height: 140%;
  color: #000000;
}

.sign__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 420px;
          flex: 0 1 420px;
  text-align: right;
}

.sign__btn {
  min-width: 200px;
  min-height: 48px;
  border: 1px solid #231f20;
  color: #231f20;
}

.sign__btn_black {
  margin: 0px 16px 0px 0px;
  color: #fff;
  background-color: #231f20;
}

.blog {
  padding-top: 90px;
  padding-bottom: 40px;
}

.blog__top {
  text-align: center;
  margin-bottom: 70px;
}

.blog__title {
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
}

.blog__title:not(:last-child) {
  margin-bottom: 25px;
}

.blog__text {
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.blog__wish {
  margin: 0px 0px 40px 0px;
}

.wish-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wish-blog__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.18803%;
          flex: 0 0 34.18803%;
  position: relative;
}

.wish-blog__image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.wish-blog__image img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wish-blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #231f20;
  padding-top: 60px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.wish-blog__name {
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 30px;
}

.wish-blog__title {
  font-size: 48px;
  line-height: 120.83333%;
  color: #ffffff;
  margin-bottom: 60px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wish-blog__more {
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.articles-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.articles-blog__item {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 40px 0px;
}

.articles-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 48px;
  padding: 48px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  background-color: #fff;
}

.articles-blog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 16px 0px;
}

.articles-blog__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 45px;
}

.articles-blog__more {
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1440px) {
  .header__logo {
    margin-left: 0;
    margin-right: 110px;
  }

  .header__button {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .header__body {
    min-height: calc(60px + 56 * ((100vw - 320px) / 880));
  }

  .footer {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 880));
  }

  .footer__top {
    padding-top: calc(0px + 45 * ((100vw - 320px) / 880));
  }

  .footer__top {
    padding-bottom: calc(30px + 15 * ((100vw - 320px) / 880));
  }

  .footer__list li {
    margin-right: calc(10px + 30 * ((100vw - 320px) / 880));
  }

  .footer__list li {
    margin-left: calc(10px + 30 * ((100vw - 320px) / 880));
  }

  .footer__logo {
    margin-right: calc(10px + 90 * ((100vw - 320px) / 880));
  }

  .footer__logo {
    margin-left: calc(10px + 90 * ((100vw - 320px) / 880));
  }

  .footer__bottom {
    padding-top: calc(30px + 25 * ((100vw - 320px) / 880));
  }

  .footer__socials {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .footer__item {
    margin-right: calc(10px + 2 * ((100vw - 320px) / 880));
  }

  .footer__item {
    margin-left: calc(10px + 2 * ((100vw - 320px) / 880));
  }

  .footer__item {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 880));
  }

  .find {
    margin-top: calc(60px + 56 * ((100vw - 320px) / 880));
  }

  .find__body {
    padding-top: calc(20px + 140 * ((100vw - 320px) / 880));
  }

  .find__body {
    padding-bottom: calc(20px + 115 * ((100vw - 320px) / 880));
  }

  .find__body {
    margin-right: calc(0px + 115 * ((100vw - 320px) / 880));
  }

  .find__body_second {
    padding-top: calc(20px + 140 * ((100vw - 320px) / 880));
  }

  .find__body_second {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / 880));
  }

  .find__body_second {
    margin-left: calc(0px + 115 * ((100vw - 320px) / 880));
  }

  .find__body_second .find__text:not(:last-child) {
    margin-bottom: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .find__title {
    font-size: calc(36px + 20 * ((100vw - 320px) / 880));
  }

  .find__title:not(:last-child) {
    margin-bottom: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .find__text:not(:last-child) {
    margin-bottom: calc(30px + 22 * ((100vw - 320px) / 880));
  }

  .find__subtitle {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .find__subtitle:not(:last-child) {
    margin-bottom: calc(20px + 3 * ((100vw - 320px) / 880));
  }

  .gifts {
    padding-top: calc(40px + 50 * ((100vw - 320px) / 880));
  }

  .gifts {
    padding-bottom: calc(40px + 50 * ((100vw - 320px) / 880));
  }

  .gifts__top {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 880));
  }

  .gifts__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .gifts__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 880));
  }

  .gifts__item {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 880));
  }

  .item-gifts__content {
    padding: calc(15px + 9 * ((100vw - 320px) / 880));
  }

  .sign {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 880));
  }

  .sign {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 880));
  }

  .sign__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .sign__text {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .blog {
    padding-top: calc(50px + 40 * ((100vw - 320px) / 880));
  }

  .blog {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .blog__top {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 880));
  }

  .blog__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }

  .blog__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 880));
  }

  .wish-blog__content {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 880));
  }

  .wish-blog__content {
    padding-right: calc(20px + 180 * ((100vw - 320px) / 880));
  }

  .wish-blog__content {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .wish-blog__content {
    padding-left: calc(20px + 60 * ((100vw - 320px) / 880));
  }

  .wish-blog__name {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 880));
  }

  .wish-blog__title {
    font-size: calc(32px + 16 * ((100vw - 320px) / 880));
  }

  .wish-blog__title {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 880));
  }

  .articles-blog__body {
    padding: calc(20px + 28 * ((100vw - 320px) / 880));
  }

  .articles-blog__text {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .gifts__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .gifts__item {
    padding-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767.98px) {
  .header__body {
    min-height: 60px;
  }

  .header__logo {
    margin: 0;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 80px 15px 30px 15px;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0;
    text-align: center;
  }

  .menu__list li:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: relative;
    top: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    right: 0px;
    width: 40px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    right: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  .footer__right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .find {
    margin: 60px 0px 0px 0px;
  }

  .find__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .find__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .find__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0;
    padding: 0px 15px;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .find__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .find__image-cover {
    padding: 0px 0px 50% 0px;
    min-height: 250px;
  }

  .gifts__text {
    font-size: 20px;
  }

  .gifts__body {
    margin: 0px -10px;
  }

  .gifts__item {
    padding: 0px 10px 20px 10px;
  }

  .item-gifts__title {
    font-size: 24px;
  }

  .item-gifts__more {
    font-size: 18px;
  }

  .sign__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sign__info {
    margin: 0px 0px 20px 0px;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .sign__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .wish-blog__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .wish-blog__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px -15px;
  }

  .wish-blog__image {
    padding: 0px 0px 50% 0px;
    min-height: 250px;
  }

  .wish-blog__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px -15px;
    padding: 15px;
  }

  .articles-blog {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .articles-blog__item {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .articles-blog__body {
    padding: 0;
  }
}

@media (max-width: 767.98px) and (max-width: 1200px) {
  .find__body {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .find__body {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 479.98px) {
  .find__title {
    text-align: center;
  }

  .find__text {
    text-align: center;
  }

  .find__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }

  .find__subtitle {
    text-align: center;
  }

  .gifts__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .sign__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sign__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .sign__btn_black {
    margin: 0px 0px 10px 0px;
  }

  .wish-blog__content {
    text-align: center;
  }
}

@media (any-hover: hover) {
  .header__button:hover {
    color: #fff;
    background-color: #f7941e;
  }

  .menu__link:hover {
    color: #f7941e;
  }

  .footer__link:hover {
    color: #f7941e;
  }

  .footer__item:hover {
    color: #f7941e;
  }

  .footer__year:hover {
    color: #f7941e;
  }

  .footer__privacy:hover {
    color: #f7941e;
  }

  .find__button:hover {
    color: #f7941e;
    background-color: transparent;
  }

  .find__button_outline:hover {
    color: #fff;
    background-color: #f7941e;
  }

  .item-gifts:hover .item-gifts__content {
    background-color: #fff;
  }

  .item-gifts:hover .item-gifts__body {
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }

  .item-gifts__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item-gifts__title:hover {
    color: #f7941e;
  }

  .item-gifts__more:hover {
    color: #f7941e;
  }

  .sign__btn:hover {
    color: #fff;
    background-color: #231f20;
  }

  .sign__btn_black:hover {
    color: #231f20;
    background-color: transparent;
  }

  .wish-blog__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .wish-blog__title:hover {
    color: #f7941e;
  }

  .wish-blog__more:hover {
    color: #f7941e;
  }

  .articles-blog__item:hover .articles-blog__body {
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }

  .articles-blog__title:hover {
    color: #f7941e;
  }

  .articles-blog__more:hover {
    color: #f7941e;
  }
}