.footer {
   @include adaptiv-value("padding-top", 60, 20, 1);
   padding-bottom: 35px;
   background-color: $lightGray;
   &__container {
      max-width: 1030px;
   }

   &__top {
      @include adaptiv-value("padding-top", 45, 00, 1);
      @include adaptiv-value("padding-bottom", 45, 30, 1);
      border-bottom: 1px solid #000;
   }

   &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
      }
   }

   &__left {
      @media (max-width: $md3+px) {
         order: 2;
      }
   }

   &__list {
      display: flex;
      align-items: center;
      li {
         @include adaptiv-value("margin-right", 40, 10, 1);
         @include adaptiv-value("margin-left", 40, 10, 1);
      }
   }

   &__link {
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      transition: all 0.3s ease 0s;
      @media (max-width: $md3+px) {
         font-size: 18px;
      }
      @media (any-hover: hover) {
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__logo {
      @include adaptiv-value("margin-right", 100, 10, 1);
      @include adaptiv-value("margin-left", 100, 10, 1);
      img {
         max-width: 100%;
      }
      @media (max-width: $md3+px) {
         order: 1;
         flex: 1 1 100%;
         text-align: center;
         margin: 0px 0px 20px 0px;
      }
   }

   &__right {
      @media (max-width: $md3+px) {
         order: 3;
      }
   }

   &__bottom {
      @include adaptiv-value("padding-top", 55, 30, 1);
   }

   &__socials {
      @include adaptiv-value("margin-bottom", 40, 20, 1);
      display: flex;
      justify-content: center;
   }

   &__item {
      font-size: 40px;
      color: #000;
      transition: all 0.3s ease 0s;
      @include adaptiv-value("margin-right", 12, 10, 1);
      @include adaptiv-value("margin-left", 12, 10, 1);
      @include adaptiv-value("margin-bottom", 30, 20, 1);
      @media (any-hover: hover) {
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__copy {
      display: flex;
      justify-content: center;
   }

   &__year {
      margin: 0px 14px 0px 0px;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: $orangeColor;
         }
      }
   }

   &__privacy {
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: $orangeColor;
         }
      }
   }
}
