//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=cyrillic-ext");
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext (В конец)
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$orangeColor: #f7941e;
$lightGray: #fafafa;
$deepDark: #231f20;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	background-color: #ffffff;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
	&._scroll {
		.find {
			margin: 60px 0px 0px 0px;
		}
		.header__body {
			min-height: 60px;
		}
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__find {
	}
	&__gifts {
	}
	&__sign {
	}
	&__blog {
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.find {
	@include adaptiv-value("margin-top", 116, 60, 1);
	background-color: #f1f1f2;
	transition: all 0.8s ease 0s;
	@media (max-width: $md3+px) {
		margin: 60px 0px 0px 0px;
	}
	&__row {
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 1 50%;
		display: flex;
		justify-content: flex-end;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			order: 1;
		}
		&_second {
			justify-content: flex-start;
		}
	}

	&__body {
		@include adaptiv-value("padding-top", 160, 20, 1);
		@include adaptiv-value("padding-bottom", 135, 20, 1);
		@include adaptiv-value("margin-right", 115, 0, 1);
		padding-left: 15px;
		flex: 0 1 455px;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			margin: 0;
			padding: 0px 15px;
			@include adaptiv-value("padding-top", 40, 20, 1);
			@include adaptiv-value("padding-bottom", 80, 40, 1);
		}
		&_second {
			@include adaptiv-value("padding-top", 160, 20, 1);
			@include adaptiv-value("padding-bottom", 100, 20, 1);
			@include adaptiv-value("margin-left", 115, 0, 1);
			margin-right: 0 !important;
			padding-left: 0;
			padding-right: 15px;
			.find__text {
				text-align: justify;
				&:not(:last-child) {
					@include adaptiv-value("margin-bottom", 36, 20, 1);
				}
			}
		}
	}

	&__title {
		@include adaptiv-font(56, 36, 1);
		line-height: 69 / 56 * 100%;
		font-weight: 500;
		color: #000000;
		@media (max-width: $md4+px) {
			text-align: center;
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 36, 20, 1);
		}
	}

	&__text {
		font-size: 20px;
		line-height: 140%;
		color: #000000;
		@media (max-width: $md4+px) {
			text-align: center;
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 52, 30, 1);
		}
	}

	&__button {
		min-height: 60px;
		min-width: 200px;
		color: #fff;
		background-color: $orangeColor;
		border: 1px solid $orangeColor;
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
				background-color: transparent;
			}
		}
		&_outline {
			background-color: transparent;
			color: $orangeColor;
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
					background-color: $orangeColor;
				}
			}
		}
	}

	&__image {
		position: relative;
		flex: 0 1 50%;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
	}

	&__image-cover {
		position: relative;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		@media (max-width: $md3+px) {
			padding: 0px 0px 50% 0px;
			min-height: 250px;
		}
	}

	&__subtitle {
		@include adaptiv-font(32, 24, 1);
		line-height: 140%;
		color: #000000;
		@media (max-width: $md4+px) {
			text-align: center;
		}
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 23, 20, 1);
		}
	}
}

//========================================================================================================================================================

.gifts {
	@include adaptiv-value("padding-top", 90, 40, 1);
	@include adaptiv-value("padding-bottom", 90, 40, 1);
	&__container {
	}

	&__top {
		text-align: center;
		@include adaptiv-value("margin-bottom", 60, 40, 1);
	}

	&__title {
		@include adaptiv-font(32, 24, 1);
		line-height: 140%;
		color: #000000;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 25, 15, 1);
		}
	}

	&__text {
		font-size: 18px;
		line-height: 136%;
		color: #000000;
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
	}

	&__body {
		display: flex;
		margin: 0px -15px;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			margin: 0px -10px;
		}
	}

	&__item {
		padding: 0px 15px;
		flex: 0 1 25%;
		@include adaptiv-value("padding-bottom", 50, 30, 1);
		@media (max-width: $md2+px) {
			padding-bottom: 30px;
			flex: 0 1 50%;
		}
		@media (max-width: $md3+px) {
			padding: 0px 10px 20px 10px;
		}
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
		}
	}
}
.item-gifts {
	@media (any-hover: hover) {
		&:hover {
			.item-gifts__content {
				background-color: #fff;
			}
			.item-gifts__body {
				box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
			}
		}
	}
	&__body {
		transition: all 0.3s ease 0s;
		box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	}

	&__image {
		display: block;
		overflow: hidden;
		padding: 0px 0px 100% 0px;
		img {
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: 166px;
		background-color: $lightGray;
		transition: all 0.3s ease 0s;
		@include adaptiv-value("padding", 24, 15, 1);
	}

	&__title {
		flex: 1 1 auto;
		display: flex;
		font-size: 20px;
		line-height: 24 / 20 * 100%;
		color: #000000;
		transition: all 0.3s ease 0s;
		margin: 0px 0px 10px 0px;
		@media (max-width: $md3+px) {
			font-size: 24px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}

	&__more {
		display: block;
		font-family: "Roboto";
		font-size: 14px;
		line-height: 19 / 14 * 100%;
		color: #000000;
		transition: all 0.3s ease 0s;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}

//========================================================================================================================================================

.sign {
	@include adaptiv-value("padding-top", 80, 30, 1);
	@include adaptiv-value("padding-bottom", 70, 30, 1);
	background-color: $orangeColor;
	&__container {
		max-width: 1000px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__info {
		flex: 0 1 325px;
		margin: 0px 20px 0px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
			text-align: center;
			flex: 1 1 100%;
		}
	}

	&__title {
		@include adaptiv-font(32, 24, 1);
		line-height: 140%;
		font-weight: 700;
		color: #000000;
	}

	&__text {
		@include adaptiv-font(32, 24, 1);
		line-height: 140%;
		color: #000000;
	}

	&__buttons {
		flex: 0 1 420px;
		text-align: right;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			text-align: center;
		}
		@media (max-width: $md4+px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__btn {
		min-width: 200px;
		min-height: 48px;
		border: 1px solid $deepDark;
		color: $deepDark;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $deepDark;
			}
		}
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			&_black {
				margin: 0px 0px 10px 0px;
			}
		}
		&_black {
			margin: 0px 16px 0px 0px;
			color: #fff;
			background-color: $deepDark;
			@media (any-hover: hover) {
				&:hover {
					color: $deepDark;
					background-color: transparent;
				}
			}
		}
	}
}

//========================================================================================================================================================

.blog {
	@include adaptiv-value("padding-top", 90, 50, 1);
	@include adaptiv-value("padding-bottom", 40, 20, 1);
	&__container {
	}

	&__top {
		text-align: center;
		@include adaptiv-value("margin-bottom", 70, 30, 1);
	}

	&__title {
		@include adaptiv-font(32, 24, 1);
		line-height: 140%;
		font-weight: 700;
		color: #000000;
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 25, 15, 1);
		}
	}

	&__text {
		font-size: 18px;
		line-height: 140%;
		color: #000000;
	}

	&__body {
	}

	&__wish {
		margin: 0px 0px 40px 0px;
	}

	&__articles {
	}
}
.wish-blog {
	&__body {
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__picture {
		flex: 0 0 400/1170 * 100%;
		position: relative;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			margin: 0px -15px;
		}
	}

	&__image {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		img {
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 50% 0px;
			min-height: 250px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		background-color: $deepDark;
		@include adaptiv-value("padding-top", 60, 20, 1);
		@include adaptiv-value("padding-right", 200, 20, 1);
		@include adaptiv-value("padding-bottom", 50, 20, 1);
		@include adaptiv-value("padding-left", 80, 20, 1);
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			margin: 0px -15px;
			padding: 15px;
		}
		@media (max-width: $md4+px) {
			text-align: center;
		}
	}

	&__name {
		font-size: 14px;
		line-height: 140%;
		color: #ffffff;
		@include adaptiv-value("margin-bottom", 30, 15, 1);
	}

	&__title {
		@include adaptiv-font(48, 32, 1);
		line-height: 58 / 48 * 100%;
		color: #ffffff;
		@include adaptiv-value("margin-bottom", 60, 30, 1);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}

	&__more {
		font-size: 18px;
		line-height: 140%;
		color: #ffffff;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
.articles-blog {
	display: flex;
	margin: 0px -15px;
	@media (max-width: $md3+px) {
		margin: 0;
		flex-wrap: wrap;
	}
	&__item {
		padding: 0px 15px;
		flex: 0 1 50%;
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			padding: 0;
			flex: 1 1 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				.articles-blog__body {
					box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 48px;
		@include adaptiv-value("padding", 48, 20, 1);
		transition: box-shadow 0.3s ease 0s;
		box-shadow: 0 0 0px rgba(0, 0, 0, 0);
		background-color: #fff;
		@media (max-width: $md3+px) {
			padding: 0;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
		color: #000000;
		transition: all 0.3s ease 0s;
		margin: 0px 0px 16px 0px;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}

	&__text {
		flex: 1 1 auto;
		font-size: 18px;
		line-height: 140%;
		color: #000000;
		@include adaptiv-value("margin-bottom", 45, 20, 1);
	}

	&__more {
		font-size: 14px;
		line-height: 140%;
		color: #000000;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
